.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-box {
  background: #00A0E9;
  padding: 5px 0;
}

.gutter-example {
  margin: 10px;
}

.content-wrapper {
  padding-top: 50px;
}

.grid-margins {
  padding: 6px 8px 6px 8px;
}